@font-face{
    font-family: pipboy;
    src: url('../Pipboy_fallout_4/assets/monofonto.ttf');
}

body{
    font-family:pipboy, sans-serif ;
    color:#14fe17;
    background: #000 ;
}

body::after{
    height: 100%;
    width: 100%;
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    background: repeating-linear-gradient(0deg, rgba(7, 71, 10, 0.5), rgba(3, 41, 5, 0.4) 1px, transparent 1px, transparent 2px);
    z-index: 10000;
    pointer-events: none;
}

.navbar{
    border-bottom: 2px solid;
    margin: 0px 10px;
}



ul > li.navbar-item > a.nav-link{
    color: #14fe17 !important;
    background: #000;
    text-align : center;
    width: 50%;
    margin: auto;
    font-size: 32px;
    line-height: 32px;
    padding-bottom: 0px;
    z-index: 50;
    position: relative;

}
.navbar-navbar-expand-md-navbar-light-bg-light{
    background: #000
}
ul>li.nav-item>a.nav-link{
    color: #168a1a;
}

ul > li.navbar-item.active::before{
    content: "";
    position: absolute;
    background: #000;
    width: 100%;
    height: 22px;
    top: 28px;
    border-left: 2px solid;
    border-right: 2px solid;
    border-top: 2px solid;
}

.navbar-light ul.navbar-nav > li{
    display: block;
    position: relative;
    width: 100%;
}
.navbar-nav{
    width: 100%;
}

.center-image{
    position: absolute;
    margin-left: 95px;
}

.center-image img{
    margin:auto;
    display: block;
    position: relative;
    max-height: 300px;
    margin-top: 100px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7)
    brightness(1) contrast(2);
    margin-top: 50px;
    margin-left: -10px;
}

.pip-footer{
    position: fixed;
    bottom: 0;
    width: calc(100% - 20px);
    margin: 10px;
    border: none;
    font-size: 22px;
}

.navbar.pip-footer .col-3, .navbar.pip-footer .col-6{
    background: rgba(16,255,0,0.15);
    padding: 5px 10px;
}

.navbar.pip-footer .col-6{
    margin: 0px 2px;
}

.nav.nav-tabs{
    margin: 20px;
    border-bottom: none;
}

.nav.nav-tabs > .nav-item > .nav-link:hover{
    border:none;
    border: 1px solid transparent;
    color: #14fe17;
}

.nav.nav-tabs > li > a{
    background: transparent !important;
    border: 1px solid transparent !important;
}

.nav.nav-tabs > li.nav-item > a.nav-link.active{
    color: #14fe17 !important;
}

.level-progress{
    width: 100%;
    height: 12px;
    border: 2px solid;
    display: inline-block;
    width: 70%;
}

.level-progress-indicator{
    height: 8px;
    background: #14fe17;
    position: relative;
    width: 70%;
}

.stat-bar{
    width: 60px;
    margin: auto;
}

#status{
    max-width: 400px;
    margin: auto;
}

.stat-bars{
    margin-top:5px
}

.stat-bars > .row{
    margin-bottom:100px ;
}

.stat-numbers .col-1, .stat-numbers .col-2{
    background: rgba(16,255,0,0.15);
    margin-right: 0px;
}

.stat-numbers .col-1.transparent,.stat-numbers .col-2.transparent{
    background: transparent;
}

.stat-numbers{
   
}

.stat-numbers img{
    width: 100%;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7)
    brightness(3) contrast(2);
}

.stat-numbers img.sm-img{
    width: 15px;
    margin-left: 1px;
    filter: grayscale(1) sepia(100%) hue-rotate(55deg) saturate(7)
    brightness(200) contrast(2);
}

.stat-numbers .helmet{
    margin-top: 5px;
    margin-left: 6px ;
    filter: invert(62%) sepia(78%) saturate(2327%) hue-rotate(76deg) brightness(113%) contrast(112%);
}

.stat-numbers .radiation{
    width: 17px;
    filter: invert(62%) sepia(78%) saturate(2327%) hue-rotate(76deg) brightness(113%) contrast(112%);
}